[Unit]
Description=A fork of Sonarr to work with movies à la Couchpotato.
After=syslog.target network.target

[Service]
User=radarr
Group=radarr

Type=simple
ExecStart=/usr/bin/mono /usr/share/radarr/Radarr.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
