[Unit]
Description=Sonarr is a Smart PVR for newsgroup and bittorrent users.
After=syslog.target network.target network-online.target

[Service]
User=sonarr
Group=sonarr

Type=simple
ExecStart=/usr/bin/mono --debug /usr/share/sonarr/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
